@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #4a46eb;
  --secondary: #753aff;
  --darkBlue: #070747;
  --darkPurple: #0e0034;
  --darkPurple-rgb: 14, 0, 52;
  --black-1: #0d121f;
  --black-2: #121826;
  --white-1: #c6bed9;
  --gray: #d9dee8;
  --grey: var(--gray);
  --hero-bg: #070219;
  --white: white;
  --black: black;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 0 0 1px rgb(53 72 91 / 14%), 0 2.75px 2.21px rgb(0 0 0 / 7%),
    0 6.65px 5.32px rgb(0 0 0 / 4%), 0 12.5px 10px rgb(0 0 0 / 3%),
    0 22px 18px rgb(0 0 0 / 3%), 0 42px 33.4px rgb(0 0 0 / 2%),
    0 100px 80px rgb(0 0 0 / 2%);
}
/* Css reset  */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 200ms ease-out;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--black-1);
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  font-family: var(--font-inter);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

/* global styles */
.container {
  max-width: 1234px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  cursor: pointer;
  outline: none;
  padding: 0.6em 1.6em;
  border-radius: 4px;
  font-size: 16px;
  background: linear-gradient(135deg, var(--secondary), var(--primary));
  border: none;
  color: var(--white);
}
.btn_var_2 {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--white);
}
.btn.external-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
.btn.external-link i {
  font-size: 25px;
}
.btn.external-link:hover i {
  transform: rotate(45deg);
}
.btn_Wpr {
  display: flex;
  gap: 1rem;
}
.section__heading {
  font-size: 30px;
  font-family: var(--font-poppins);
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 20px;
}
.paragraph_text {
  font-family: var(--font-inter);
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
}
.eyebrow__text {
  font-size: 14px;
  color: var(--white);
}
/* input  */
.form-group {
  margin-bottom: 10px;
}
.form-group label {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 18px;
}
.form-group .input-wrapper {
  background-color: white;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}
.form-group .input-wrapper .icon {
  font-size: 20px;
  height: 100%;
  width: 50px;
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-1);
}
.form-group .input-wrapper input {
  padding: 10px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
}
.form-group textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-5deg) rotate(5deg);
  transition: 200ms ease-in-out;
  border-radius: 12px;
  z-index: 150;
  background-color: var(--white-1);
  width: 500px;
  max-width: 80%;
  transform-origin: top center;
  box-shadow: var(--box-shadow-2);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
.modal button .close-button {
  background: transparent !important;
}
.modal.active {
  transform: translate(-50%, -50%) skewY(0deg) rotate(0deg);
  visibility: visible;
  opacity: 1;
}
.modal-header {
  padding: 15px 25px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal-header .title {
  font-size: 22px;
  color: var(--dark_color);
  font-weight: 600;
}
.modal-body {
  padding: 25px;
}
.modal .btn_var_2 {
  color: var(--darkPurple);
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 110;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* header starts */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header .header_layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
}
header .header_layout .logo img {
  width: 120px;
}
header .header_layout .nav {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
header .header_layout .nav .nav_link a {
  font-size: 14px;
  color: var(--white);
}
header .header_layout .nav .nav_link a:hover {
  opacity: 0.8;
}
header.active {
  backdrop-filter: blur(40px) brightness(80%) saturate(150%);
  -webkit-backdrop-filter: blur(40px) brightness(80%) saturate(150%);
  background: rgba(15, 14, 71, 0.3);
}
header.active .header_layout {
  padding: 8px 0;
}
header .header_layout .moblie__menu {
  display: none;
  color: var(--white-1);
  place-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(15, 14, 71, 0.3);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px);
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header_layout .moblie__menu {
    display: grid;
  }
  .header_layout .nav {
    display: block !important;
    position: absolute;
    max-width: 260px;
    margin-top: 10px;
    padding: 20px;
    right: 0px;
    top: 102%;
    background: rgba(15, 14, 71, 0.3);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(40px) brightness(80%) saturate(150%);
    -webkit-backdrop-filter: blur(40px) brightness(80%) saturate(150%);
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    transform-origin: center top;
    transform: skewY(-5deg) rotate(5deg) translateY(-30px);
  }
  .header_layout .nav a {
    display: block;
    width: 100%;
    padding: 15px;
  }

  .header_layout .nav.active {
    visibility: visible;
    opacity: 1;
    transform: rotateX(-20deg) translateY(-5px);
  }
}
/* home section */
.HeroSection__Wrapper {
  height: 890px;
  background: var(--hero-bg);
  position: relative;
  overflow: hidden;
}
.HeroSection__ContentWrapper {
  display: grid;
  grid-template-columns: 500px auto;
  position: relative;
}
.HeroSection__TextWrapper {
  position: relative;
  top: 200px;
  display: grid;
  gap: 30px;
}
.hero__heading {
  margin: 0px;
  max-width: 450px;
  color: var(--white);
  font-size: 40px;
  font-family: Poppins, sans-serif;
  margin: 0.2rem 0px;
}
.hero__text {
  max-width: 350px;
  color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
}
.HomeMockups__Wrapper {
  position: relative;
  top: 30px;
  left: -30px;
  perspective: 5000px;
  perspective-origin: left bottom;
  transform-style: flat;
}
.mockup1 {
  background: radial-gradient(
    218.51% 281.09% at 100% 100%,
    rgba(253, 63, 51, 0.6) 0%,
    rgba(76, 0, 200, 0.6) 45.83%,
    rgba(76, 0, 200, 0.6) 100%
  );
  width: 183px;
  height: 120px;
  position: absolute;
  top: 150px;
  left: -37px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 40px,
    rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
}
.mockup1 img,
.mockup2 img {
  width: 183px;
  height: 120px;
  padding: 8px;
}
.HomeMockups__Wrapper {
  position: relative;
  top: 30px;
  left: -30px;
  perspective: 5000px;
  perspective-origin: left bottom;
  transform-style: flat;
}
.HomeMockups__Wrapper > * {
  transform: rotateY(-20deg) rotateX(20deg);
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.HomeMockups__Wrapper:hover > * {
  transform: rotateY(0deg) rotateX(0deg);
}
.mockup2 {
  background: linear-gradient(
    192.64deg,
    rgb(67, 22, 219) 12.72%,
    rgb(144, 118, 231) 54.49%,
    rgb(162, 238, 255) 100.01%
  );
  width: 183px;
  height: 120px;
  position: absolute;
  top: 150px;
  left: 176px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 40px,
    rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
}
.mockup3 img {
  width: 701px;
  height: 428px;
}
.mockup3 {
  background: rgba(23, 12, 61, 0.3);
  width: 701px;
  height: 428px;
  border-radius: 10px;
  position: absolute;
  top: 200px;
  left: 0px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 40px,
    rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
}
.mockup4 {
  background: rgba(23, 12, 61, 0.2);
  width: 400px;
  height: 273px;
  border-radius: 10px;
  position: absolute;
  top: 370px;
  left: 40px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
}

.mockup5 {
  background: rgba(23, 12, 61, 0.2);
  width: 414px;
  height: 273px;
  border-radius: 10px;
  position: absolute;
  top: 400px;
  left: 340px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
}
.mockup4 img,
.mockup5 img {
  width: 100%;
  height: 100%;
  padding: 8px;
}
.HomeMockups__Wrapper:hover > .mockup2 {
  transform: translate(0px, -30px);
}
.HomeMockups__Wrapper:hover > .mockup1 {
  transform: translate(-30px, -30px);
}
.HomeMockups__Wrapper:hover > .mockup4 {
  transform: translate(-120px, 60px);
  z-index: 4;
}
.HomeMockups__Wrapper:hover > .mockup5 {
  transform: translate(30px, 30px);
  z-index: 5;
}

@media (max-width: 769px) {
  .HeroSection__Wrapper {
    height: 790px;
  }
  .HeroSection__ContentWrapper {
    grid-template-columns: 360px auto;
  }
  .hero__heading {
    max-width: 330px;
    font-size: 30px;
  }
  .hero__text {
    max-width: 350px;
    font-size: 1rem;
  }
  .HomeMockups__Wrapper {
    transform: scale(0.8);
  }
  .section__heading {
    font-size: 25px;
  }
  .paragraph_text {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .HeroSection__ContentWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .HomeMockups__Wrapper {
    top: 120px;
    left: -82px;
    transform: scale(0.4);
  }
  .HeroSection__TextWrapper {
    top: 120px;
  }
  .HomeMockups__Wrapper {
    top: 120px;
    left: -82px;
    transform: scale(0.4);
  }
  .HomeMockups__Wrapper > * {
    transform: rotateY(0deg) rotateX(0deg);
  }
}
/* about section  */
.about {
  padding: 5rem 0;
}
.aboutSection__ContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-bottom: 1px dashed var(--black-2);
}
.aboutSection__img {
  flex: 0.4;
}

.aboutSection__TextWrapper {
  align-self: center;
  flex: 0.6;
}

.aboutSection__TextWrapper .paragraph_text {
  margin-bottom: 0.5rem;
}
.grid-images {
  display: grid;
  grid-template-columns: repeat(16, minmax(10px, 1fr));
  grid-template-rows: repeat(6, minmax(100px, 1fr));
}
.grid-images .item-one {
  background: url(/assets/images/grid_img_1.jpg) no-repeat;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 5;
  background-size: cover;
  border-radius: 8px;
  filter: blur(1px);
}
.grid-images .item-two {
  grid-column-start: 8;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 4;
  background: url(/assets/images/grid_img_3.jpg) no-repeat;
  background-size: cover;
  border-radius: 8px;
  filter: blur(1px);
}
.grid-images .item-three {
  grid-area: 2/4/6/14;
  background: url(/assets/images/grid_img_2.jpg) no-repeat;
  background-size: cover;
  border-radius: 8px;
  z-index: 10;
}
.aboutSection__InfoWrapper {
  padding: 100px 0;
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_us_info_grd {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex: 0.4;
}
.about_us_info_grd .about_grd_item {
  text-align: center;
  background-color: var(--black-2);

  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  padding: 10px;
}
.about_us_info_grd .about_grd_item:hover img {
  transform: scale(1.1) rotate(5deg);
}
.about_item_text {
  text-align: center;
  padding: 12px;
  margin-top: 12px;
  border-radius: 12px;
  background-color: var(--black-1);
}
.about_us_info_grd .about_grd_item img {
  width: 120px;
  height: 120px;
  object-fit: scale-down;
  align-self: center;
  vertical-align: middle;
}
.about_us_info_grd .about_grd_item h3 {
  font-size: 18px;
  letter-spacing: -0.03em;
  color: var(--white);
  margin-bottom: 0.5rem;
}
.about_us_info_grd .about_grd_item p {
  font-size: 14px;
  color: var(--gray);
  letter-spacing: 0.2px;
}
.about .awards_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  border-bottom: 1px dashed var(--black-2);
  margin-top: 5rem;
  padding-bottom: 2rem;
}
.about .awards_img_wpr {
  text-align: center;
  display: grid;
  place-items: center;
}
.about .awards_img_wpr img {
  width: 150px;
  object-fit: scale-down;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .aboutSection__ContentWrapper {
    flex-direction: column-reverse;
    align-items: unset;
    gap: 0;
  }
  .grid-images .item-one {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 5;
    filter: blur(1px);
  }
  .grid-images .item-two {
    display: none;
  }
  .grid-images .item-three {
    grid-area: 3/4/6/17;
    background: url(/assets/images/grid_img_2.jpg) no-repeat;
    background-size: cover;
  }
  .about_us_info_grd .about_grd_item img {
    width: 80px;
    height: 80px;
  }
  .about_us_info_grd .about_grd_item h3 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  .about_us_info_grd .about_grd_item p {
    font-size: 14px;
  }
  .aboutSection__InfoWrapper {
    flex-direction: column;
    align-items: unset;
    padding: 60px 0;
  }
  .about .awards_section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media (max-width: 600px) {
  .about .awards_section {
    grid-template-columns: 1fr 1fr;
  }
}
/* services  */
/* .services {
  padding-bottom: 100px;
} */
.services .lftAdCntnr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.adCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 15px;
}

.adCard img {
  height: 65px;
  width: 65px;
  margin-inline: auto;
  object-fit: contain;
  margin-bottom: 15px;
  background-color: var(--black-2);
  padding: 10px;
  border-radius: 100%;
  box-shadow: var(--box-shadow-2);
}
.adCard h3 {
  font-size: 25px;
  font-weight: 400;
  color: white;
  margin: 10px 0;
}
.adCard p {
  font-size: 16px;
  color: var(--gray);
}
@media (max-width: 768px) {
  .services .lftAdCntnr {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .services .lftAdCntnr {
    grid-template-columns: 1fr;
  }
}
/* products Section */
#products {
  padding: 100px 0;
  position: relative;
  overflow-x: hidden;
}
.bg_stripes {
  position: absolute;
  z-index: -1;

  top: 200px;
  left: 0;
  right: 0;
}
.bg_stripes img {
  width: 100%;
}

#products .section__heading {
  text-align: center;
}
#products .eyebrow__text {
  text-align: center;
}
#products .all-items,
#product_info .all-items {
  margin-top: 5rem;
}
#products .item,
#product_info .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
  /* gap: 2rem; */
}
#product_info .item {
  max-width: unset;
}
#products .item:nth-of-type(even),
#product_info .item:nth-of-type(even) {
  flex-direction: row-reverse;
}
#products .item .left,
#product_info .item .left {
  flex: 1;
}
#products .item .right,
#product_info .item .right {
  margin-left: -150px;
  flex: 1;
  background-color: var(--black-2);
  padding: 50px 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
}
#products .item:nth-of-type(even) .right,
#product_info .item:nth-of-type(even) .right {
  margin-left: 0;
}
#products .item:nth-of-type(even) .left,
#product_info .item:nth-of-type(even) .left {
  margin-left: -150px;
}
#products .item .left .img,
#product_info .item .left .img {
  height: 450px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  overflow: hidden;
}
#products .item .left .img img,
#product_info .item .left .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease transform;
}
#products .item:hover .left .img img,
#product_info .item:hover .left .img img {
  transform: scale(1.05);
}
#products .item .right .project-title,
#product_info .item .right .project-title {
  font-size: 25px;
  font-family: var(--font-poppins);
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--white);
}
#products .item .right .project-sub-title,
#product_info .item .right .project-sub-title {
  font-size: 16px;
  color: var(--white-1);
  margin-bottom: 20px;
}
#products .item .right .paragraph_text,
#product_info .item .right .paragraph_text {
  color: var(--gray);
  margin-bottom: 30px;
}

.product_hero {
  position: relative;
}
.product_hero .product_hero_wpr {
  height: 80vh;
  width: 100%;
  position: relative;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
}
.product_hero .product_hero_wpr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black-1);
  opacity: 0.8;
}

.product_info_text {
  z-index: 2;
}
.product_info_text h1 {
  max-width: unset;
  margin-bottom: 20px;
}
.product_info_text .paragraph_text {
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: var(--white-1);
}
.product_info_text .btn {
  margin-top: 20px;
}
#product_info {
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  #products {
    padding: 50px 0;
  }
  #products .item,
  #product_info .item {
    flex-direction: column;
    margin-bottom: 100px;
  }
  #products .item .left,
  #product_info .item .left {
    width: 100%;
  }
  #products .item .right,
  #product_info .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }
  #products .item:nth-of-type(even),
  #product_info .item:nth-of-type(even) {
    flex-direction: column;
  }
  #products .item:nth-of-type(even) .left,
  #product_info .item:nth-of-type(even) .left {
    margin-left: 0;
  }
}
@media only screen and (max-width: 450px) {
  #products .item .right .btn_Wpr {
    flex-direction: column;
  }
  #products .item .right .btn_Wpr a {
    width: 100%;
    text-align: center;
  }
  #product_info .item .right,
  #product_info .item .right {
    padding: 3rem 1.5rem;
  }
  .product_info_text {
    padding-right: 30px;
  }
  .product_info_text .paragraph_text {
    font-size: 15px;
  }
}
/* testimonial section  */
#testimonial {
  padding: 0 0 100px;
}
#testimonial .section__heading {
  text-align: center;
}
#testimonial .eyebrow__text {
  text-align: center;
}
#testimonial .ctm_crsl_cntr {
  text-align: center;
}
#testimonial .ctm_crsl_cntr .swiper-slide img {
  object-fit: scale-down;
  width: 120px;
  vertical-align: middle;
}
#testimonial .testimoial__all_items {
  padding: 50px 0 100px;
  overflow: hidden;
}
#testimonial .testimoial__item {
  max-width: 900px;
  margin-inline: auto;
  background-color: var(--black-2);
  padding: 25px 40px;
  border-radius: 12px;
  display: grid;
  gap: 20px;
}
.testimoial__item.swiper-slide {
  filter: blur(4px);
  opacity: 0.7;
}
.testimoial__item.swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
.testimonial__header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.testimonial__header img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.testimonial__header .testimoial__name {
  font-size: 18px;
  color: var(--white);
  font-weight: 500;
}
.testimonial__header .testimoial__name span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: var(--gray);
  font-family: var(--font-inter);
  margin-top: 0.5rem;
}
.testimoial__item_text {
  background-color: var(--black-1);
  position: relative;
  color: var(--gray);
  padding: 20px 0;
  background: url(/assets/images/pattern-quotes.svg);
  border-radius: 0 12px 12px 12px;
  background-repeat: no-repeat;
  background-position: 10% top;
  background-size: 100px;
}
.testimoial__item_text::after {
  content: "";
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  position: absolute;
  top: 0;
  z-index: 100;
  display: block;
  width: 12px;
  height: 12px;
  left: -12px;
  background: var(--black-1);
}
.tsml_clt_cnt {
  margin-bottom: 1rem;
}
#testimonial .swiper-container-3d .swiper-slide-shadow-left,
#testimonial .swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}
/* Contact Section */
#contact {
  padding: 100px 0;
}
#contact .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
#contact .wrapper .left {
  flex: 1;
}
#contact .wrapper .right {
  flex: 1;
}

#contact .section__heading {
  font-family: var(--font-poppins);
  font-size: 30px;
  margin-bottom: 1rem;
}
#contact .left .contact-desc {
  color: var(--gray);
  margin-bottom: 40px;
}
#contact .left .contact-info {
  margin-bottom: 50px;
}
#contact .left .contact-info ul {
  list-style: none;
}
#contact .left .contact-info ul li {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary);
}
#contact .left .contact-info ul li a {
  font-size: 20px;
  padding: 15px;
}
#contact .left .contact-info ul li i {
  font-size: 25px;
  color: var(--white-1);
}
#contact .left .contact-info ul li a {
  color: var(--white-1);
}
.social-info ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.social-info ul li a {
  color: var(--white-1);
}
.social-info ul li a i {
  font-size: 25px;
}
#contact .right .form-wrapper {
  background-color: var(--black-2);
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 12px;
  color: white;
}
#contact .mbl_heading {
  display: none;
}

@media only screen and (max-width: 768px) {
  #contact .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #contact .right {
    width: 100%;
  }
  #contact .right .form-wrapper {
    padding: 20px;
    width: 100%;
    max-width: 100%;
  }
  #contact .left .contact-info ul li a {
    font-size: 16px;
    padding: 10px;
  }
  #contact .contact_heading {
    display: none;
  }
  #contact .mbl_heading {
    display: block;
  }
}
/* footer  */
#footer {
  background-color: var(--black-2);
  color: white;
  padding: 100px 0 50px 0;
}
#footer footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
#footer footer .col-1 {
  flex: 3;
}
#footer footer .col-2,
#footer footer .col-3,
#footer footer .col-4 {
  flex: 2;
}
#footer footer .col-4 {
  flex: 1;
}
#footer footer .col-1 .logo img {
  max-width: 100px;
  margin-bottom: 20px;
}
#footer footer .col-1 p {
  color: var(--white);
}
#footer footer .social-info {
  margin-top: 1rem;
}
#footer footer .column-heading {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.5em;
}
#footer footer ul li:hover a {
  color: var(--primary);
}
#footer footer ul li a {
  display: inline-block;
  width: 100%;
  color: var(--white);
  font-size: 16px;
  padding: 5px;
}
#footer footer .col-4 ul {
  display: flex;
  flex-wrap: wrap;
}
#footer footer .col-4 ul li a {
  min-width: 50px;
}
@media only screen and (max-width: 768px) {
  #footer footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #footer footer .col-1,
  #footer footer .col-2,
  #footer footer .col-3,
  #footer footer .col-4 {
    width: 100%;
    margin-bottom: 30px;
  }
  #footer footer .col-4 ul {
    width: fit-content;
    margin: 0 auto;
  }
}

/* copyright Section */
#copyright {
  padding: 10px 0;
  background-color: var(--black-1);
}
#copyright p {
  color: white;
  margin: 10px 0;
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  #copyright p {
    text-align: center;
  }
}
